body {
	padding: 50px;
	color: #AAA;
	font: 17px "Arial","Verdana","sans-serif";
	-webkit-font-smoothing: antialiased;
	background-color: #f5e8d7;
}

.container {
	width: 580px;
	box-sizing: border-box;
	padding: 0 10px;
	margin: 0 auto;
}

.title {
	margin-top: 70px;
}

.subtitle {
	width: 100%;
	font-size: 19px;
	margin-bottom: 20px;
	display: block;
}

.element {
 	background-color: #fe006b;
 	width: 100px;
	height: 100px;
	padding: 0;
	color: white;
	padding: 5px;
	margin: 0 22px 25px 0;
	display: inline-block;
	border: 1px solid rgba(255, 255, 255, 0.6);
}

.element--blue {
	background-color: #17c9f6;
}

.element--yellow {
	background-color: #eee319;
}

.element--hidden {
	visibility: hidden;
}

.element--ball {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

.letter-vertical {
	height: 220px;
	width: 35px;
	opacity: 0.65;
	display: inline-block;
}

.letter-horizontal {
	width: 107px;
	height: 30px;
	opacity: 0.9;
	display: inline-block;
	transform: skewx(-15deg) translatex(-108px) translatey(-52px);
}

.letter--green {
	background-color: #0F9;
}

.letter--lila {
	background-color: #F09;
}

.letter--yellow {
	background-color: #9F0;
}

.letter--blue {
	background-color: #09F;
}

.letter--orange {
	background-color: #F90;
}

.letter-vertical--right {
	transform: skewx(-15deg);
}

.letter-vertical--left {
	transform: skewx(15deg) translatex(17px);
}

.btn {
	background-color: #555;
	border: none;
	padding: 6px 8px;
	border-radius: 4px;
	font-size: 14px;
	color: #EEE;
	cursor: pointer;
}

.btn:hover {
	background-color: #333;
	color: #FFF;
}