body {
	padding: 0 50px;
	color: #AAA;
	font: 22px 'Helvetica';
	background-color: #f5e8d7;
	overflow: hidden;
}

h2 {
	font-size: 1.7em;
	text-shadow: 1px 1px 1px #666;
	letter-spacing: 1px;
}

.subtitle {
	float: left;
	width: 100%;
	margin-bottom: 12px;
	font-size: 19px;
	margin-top: -26px;
}

.special-header {
	margin-top: 100px;
}

.container {
	width: 580px;
	box-sizing: border-box;
	padding: 0 10px;
	margin: 0 auto;
}

.element {
 	background-color: #fe006b;
 	width: 55px;
	height: 55px;
	margin: 0;
	padding: 0;
	float: left;
	opacity: 0.8;
	border: 1px solid rgba(255, 255, 255, 0.6);
}

.element--white {
	background-color: #FFF;
}

.element span {
	font-size: 2em;
	margin-left: 6px;
}

.trigger {
	cursor: pointer;
	margin-left: 20px;
}

.demolink {
	margin-top: 140px;
}

.demolink--nice {
	margin-top: 40px;	
}
/*
p {
	margin-top: 160px;
}*/

.link {
text-decoration: none;
color: #FFF;
text-shadow: 1px 1px 3px #333;
}

.link:hover {
color: #666;
text-shadow: 1px 1px 3px #888;
}

.btn {
	background-color: #555;
	border: none;
	padding: 6px 8px;
	border-radius: 4px;
	font-size: 14px;
	color: white;
	cursor: pointer;
}