* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
	padding: 50px;
	background-color: #f5e8d7;
  	font-family: "Lato", sans-serif;
}


/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2rxTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v10/_P8jt3Y65hJ9c4AzRE0V1H-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}



h1 {
	font-family: 'Oswald';
	font-size: 3em;
}

/*
body {
	padding: 0 50px;
	color: #AAA;
	font: 22px 'Helvetica';
	background-color: #f5e8d7;
	overflow: hidden;
}

h2 {
	font-size: 1.7em;
	text-shadow: 1px 1px 1px #666;
	letter-spacing: 1px;
}

.subtitle {
	float: left;
	width: 100%;
	margin-bottom: 12px;
	font-size: 19px;
	margin-top: -26px;
}

.special-header {
	margin-top: 80px;
}

.container {
	width: 580px;
	box-sizing: border-box;
	padding: 0 10px;
	margin: 0 auto;
}

.element {
 	background-color: #fe006b;
 	width: 55px;
	height: 55px;
	margin: 0;
	padding: 0;
	float: left;
	opacity: 0.8;
	border: 1px solid rgba(255, 255, 255, 0.6);
}

.element--white {
	background-color: #FFF;
}

.element span {
	font-size: 2em;
	margin-left: 6px;
}

.trigger {
	cursor: pointer;
	margin-left: 20px;
}

.demolink {
	margin-top: 140px;
}

.demolink--nice {
	margin-top: 26px;
}

.link {
font-size: 18px;
text-decoration: none;
color: #FFF;
text-shadow: 1px 1px 3px #333;
}

.link:hover {
color: #666;
text-shadow: 1px 1px 3px #888;
}

.btn {
	background-color: #555;
	border: none;
	padding: 6px 8px;
	border-radius: 4px;
	font-size: 14px;
	color: white;
	cursor: pointer;
}*/
