body {
	padding: 0 50px;
	color: #AAA;
	font: 22px 'Helvetica';
	background-color: #f5e8d7;
	overflow: hidden;
}

h2 {
	font-size: 1.7em;
	text-shadow: 1px 1px 1px #666;
}

.subtitle {
	float: left;
	width: 100%;
	margin-bottom: 12px;
	font-size: 19px;
	margin-top: -26px;
}

.container {
	width: 580px;
	box-sizing: border-box;
	padding: 10px;
	margin: 0 auto;
	margin-top: 100px;
}

.element {
 	background-color: #fe006b;
 	width: 60px;
	height: 60px;
	margin: 0;
	padding: 0;
	float: left;
	opacity: 0.8;
	border: 1px solid rgba(255, 255, 255, 0.6);
}

.element--white {
	background-color: #FFF;
}

.element span {
	font-size: 2em;
	margin-left: 6px;
}

.trigger {
	cursor: pointer;
	margin-left: 20px;
}

p {
	margin-top: 160px;
}

.link {
text-decoration: none;
color: #FFF;
text-shadow: 1px 1px 4px #333;
}

.link:hover {
	color: #666;
	text-shadow: 1px 1px 4px #888;
}