/* http://coolors.co/15c7ef-cd5e30-ffffff-dccba0-633e14 */
/* http://coolors.co/112838-cd5e30-ffffff-dccba0-633e14 */

* {
  box-sizing: border-box;

  &:before,
  &:after {
	box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	background-color: #dccba0;
	font-family: "Open Sans", "Helvetica", sans-serif;
	font-size: 1em;
	font-weight: 400;
}

h1 {
	font-family: 'Oswald', 'Gill Sans';
	font-size: 2.3em;
}

a {
	text-decoration: none;
	color: inherit;
}

.header {
	color: #CD5E30;
}

h2 {
	font-family: 'Open Sans Condensed', 'Helvetica Neue';
	font-size: 1.3em;
	color: white;
	margin-top: 3.6em;
}

.subtitle {
	position: relative;
	transform: translateX(400px) translateY(-200px);
}

p {
	color: #633e14;
	line-height: 1.6em;
}

.very-light {
	font-weight: 700;
	color: #3F9E63;
	padding: 0 0.1em;
	border-radius: 3px;
}

.light {
	font-weight: 600;
	color: #CD5E30;
	padding: 0 0.1em;
	border-radius: 3px;
}

.mono {
	font-family: 'PT Mono', sans-serif;
}

.dark {
	font-weight: 600;
	color: #633e14;
	padding: 0 0.1em;
	border-radius: 3px;
}

.container {
	margin: 0 auto;
	min-width: 1024px;
	width: 80%;
	height: 100%;
}

@media screen and (max-width: 960px) {
	.container {
		min-width: 0;
		width: 100%;
	}
}

.section {
	padding: 20px 50px;
	/*height: 100%;*/
}

.header span {
	display: inline-block;
}
